.front-header {
    color: #191919;
    background: #fafbfb;
    border: 0;
    overflow: auto;
}

.front-breadcrumb {
    padding-top: 80px;
}

.subtitle {
    color: #737373;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    margin: 15px auto 0;
    max-width: 600px;
    text-align: center;
}



.text-content .text-subtitle {
    color: #888;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.text-content h3 {
    color: #191919;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 12px;
}

.text-content p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

a.blue-cta {
    border-bottom: 1px solid #a2d2f7;
    color: #168eea;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

p.big-p {
    color: #555;
}